<div class="menu2" style="position:fixed">
    <p class="height10"></p>
    <p>
        <a class="menu2_title"><span>流量查看</span></a>
        <a href="/monitor/index/" class="menu2_title_sub curr_sub"><span>出口流量查询</span></a>
{#        <a href="/procedure/show_procedure/" class="menu2_title_sub"><span>接入间</span></a>#}
{#        <a href="index.php?c=snmp&amp;a=snmpset" class="menu2_title_sub"><span>主机房</span></a>#}
{#        <a href="index.php?c=snmp&amp;a=snmpset" class="menu2_title_sub"><span>消防间</span></a>#}
{#        <a href="index.php?c=snmp&amp;a=snmpset" class="menu2_title_sub"><span>UPS室</span></a>#}
{#        <a href="index.php?c=snmp&amp;a=snmpset" class="menu2_title_sub"><span>CA认证室</span></a>#}
    </p>
    <p class="height10"></p>
    <p>
        <a class="menu2_title"><span>设备状态查询</span></a>
        <a href="/monitor/device/" class="menu2_title_sub curr_sub"><span>服务器状态查询</span></a>
        <a href="/monitor/vm/" class="menu2_title_sub "><span>虚拟机状态查询</span></a>
{#        <a href="index.php?c=monitor&amp;a=itemlist" class="menu2_title_sub "><span>服务器</span></a>#}
{#        <a href="index.php?c=monitor&amp;a=itemlist" class="menu2_title_sub "><span>虚拟机</span></a>#}
{#        <a href="index.php?c=monitor&amp;a=itemlist" class="menu2_title_sub "><span>存储设备</span></a>#}
    </p>
    <p class="height10"></p>
</div>