{% extends 'base.html' %}
{% block left_nav %}
    {% include 'procedures/left_nav.html' %}
{% endblock %}

{% block content %}
    <!--右侧title开始-->
    <div class="currtitle" style="width: 100%;position:fixed">
        <div class="placing"><span>当前位置：</span><span>工单管理</span> <span>&gt;</span> <span>我处理的工单</span></div>
    </div>


    <!--右侧内容开始-->
        <div class="edit_list" style="margin-left: 10px;margin-top: 50px;margin-bottom:50px;">


            <div class="record_title">
                <div class="rdbuy"><span>关联设备</span></div>
                <div class="rdip3"><span>变更主题</span></div>
                <div class="rdrelati3"><span>类型</span></div>
                <div class="rdrelati3"><span>创建人</span></div>
                <div class="rdip3"><span>当前进度</span></div>
                <div class="rdrelati3"><span>创建时间</span></div>
            </div>

            <div class="rightcon_mid" style="overflow: hidden; width: 1102px;">
                {% for iteam in get_change %}
                <div class="record-list listli_1">
                <div class="rdbuy">
                    <span>
                        <a title="{{ iteam.change_device }}" href="/procedures/show_change_info/{{ iteam.id }}">{{ iteam.change_device }}</a>
                    </span>
                </div>
                <div class="rdip3"><span><a title="{{ iteam.change_theme }}" href="/procedures/show_change_info/{{ iteam.id }}">{{ iteam.change_theme }}</a></span></div>
                <div class="rdrelati3"><span>{{ iteam.change_type }}</span></div>
                <div class="rdrelati3"><span>{{ iteam.change_create_people }}</span></div>
                <div class="rdip3">
                    <span>
                        {{ iteam.change_flow.flow_name }}
                        {% if iteam.change_flag == 0 %}
                            [已删除]
                        {% elif iteam.change_flag == 1 %}
                            [未通过]
                        {% elif iteam.change_flag == 2 %}
                            [处理中]
                        {% elif iteam.change_flag == 3 %}
                        {% endif %}

                    </span>
                </div>
                <div class="rdrelati3"><span>{{ iteam.change_create_time|date:"Y-m-d H:i:s" }}</span></div>
                </div>
                {% endfor %}

        <div id="app-4">
          <ol>
            <li v-for="todo in todos">
              {{ todo.text }}
            </li>
          </ol>
        </div>
        <script>
        var app4 = new Vue({
          el: '#app-4',
          data: {
            todos: [
              { text: '学习 JavaScript' },
              { text: '学习 Vue' },
              { text: '整个牛项目' }
            ]
          }
        })
        </script>
            </div>
        <div class="rightcon_bottom"></div>
        </div>
{% endblock %}