<!--左侧菜单开始-->

    <p class="height10"></p>
    <p>
        <a class="menu2_title"><span>服务台中心</span></a>
        <a href="/procedures/index/" class="menu2_title_sub curr_sub"><span>首页</span></a>
        <a href="/procedures/service_register/" class="menu2_title_sub curr_sub"><span>服务登记</span></a>
        <a href="/procedures/need_deal/" class="menu2_title_sub curr_sub"><span>我的待办</span></a>
    </p>

    <p class="height10"></p>
{#    <p>#}
{#        <a class="menu2_title"><span>与我相关</span></a>#}
{##}
{#        <a href="/procedures/i_joined/" class="menu2_title_sub "><span>我参与的</span></a>#}
{#        <a href="/procedures/i_deal/" class="menu2_title_sub "><span>我处理的</span></a>#}
{#    </p>#}
    <p>
        <a class="menu2_title"><span>事件工单管理</span></a>
        <a href="/procedures/show_event/" class="menu2_title_sub curr_sub"><span>事件列表</span></a>
    </p>
    <p>
        <a class="menu2_title"><span>变更工单管理</span></a>
        <a href="/procedures/show_change/" class="menu2_title_sub "><span>变更列表</span></a>
        <a href="/procedures/i_submit/" class="menu2_title_sub "><span>我发起的变更</span></a>
        <a href="/procedures/have_deal/" class="menu2_title_sub "><span>处理中的变更</span></a>
        <a href="/procedures/have_failed/" class="menu2_title_sub "><span>未通过的变更</span></a>
        <a href="/procedures/have_finished_change/" class="menu2_title_sub "><span>已完成的变更</span></a>
    </p>

    <p class="height10"></p>
<!--左侧菜单结束-->