

{% extends 'base.html' %}
{% block left_nav %}
    {% include 'alarm/left_nav.html' %}
{% endblock %}
{% block content %}
    <!--右侧title开始-->
    <div class="currtitle" style="width: 100%;position:fixed">
        <div class="placing"><span>当前位置：</span><span>告警中心</span> <span>&gt;</span> <span>当前告警查询</span></div>
    </div>


    <!--右侧内容开始-->
        <div class="edit_list" style="margin-left: 10px;margin-top: 50px;margin-bottom:50px;">



            <div class="rightcon_title">当前告警查询</div>

            <div style="height:1175px;width: 100%;margin:-105px -50px 0px 0px;">
                    <iframe src="http://10.254.30.252:3000/dashboard/db/00-dang-qian-gao-jing-cha-kan?orgId=2&theme=light" width="100%" height="100%" frameborder="0"></iframe>

            </div>
            <div class="rightcon_bottom"></div>
        </div>

{% endblock %}