<div class="edit_list" style="margin-left: 10px;margin-top: 50px;margin-bottom:50px;">
    <div class="rightcon_title">服务登记</div>
    <div class="rightcon_mid">
                   <ul>
                    <li class="li_title"><a href="/procedures/add_event/">新增事件</a></li>
                    <li class="li_content">新增事件，事件管理的目标是在不影响业务的情况下，尽可能快速的恢复服务，从而保证最佳的效率和服务的可持续性。
                    </li>
                    <li class="li_title"><a href="/procedures/add_change/">新增变更</a></li>
                    <li class="li_content">新增变更，以受控的方式，确保所有变更得到评估、批准、实施和评审。
                    </li>
                    </li>
                  </ul>
            </div>
    <div class="rightcon_bottom"></div>
</div>