<!--左侧菜单开始-->

    <p class="height10"></p>
    <p>
        <a class="menu2_title"><span>服务台中心</span></a>
        <a href="/procedure/service_register/" class="menu2_title_sub curr_sub"><span>首页</span></a>
        <a href="/procedure/service_register/" class="menu2_title_sub curr_sub"><span>服务登记</span></a>
    </p>

    <p class="height10"></p>
    <p>
        <a class="menu2_title"><span>经我处理</span></a>
        <a href="/procedure/show_change/" class="menu2_title_sub curr_sub"><span>待处理</span></a>
        <a href="/procedure/show_change/" class="menu2_title_sub "><span>已处理</span></a>
        <a href="/procedure/show_change/" class="menu2_title_sub "><span>我参与的</span></a>
    </p>
    <p>
        <a class="menu2_title"><span>工单管理</span></a>
        <a href="/procedure/show_change/" class="menu2_title_sub curr_sub"><span>事件列表</span></a>
        <a href="/procedure/show_change/" class="menu2_title_sub "><span>变更列表</span></a>
    </p>
    <p class="height10"></p>

<!--左侧菜单结束-->