<div class="menu2" style="position:fixed">
    <p class="height10"></p>
    <p>
        <a class="menu2_title"><span>按机房查看</span></a>
        <a href="" class="menu2_title_sub curr_sub"><span>监控室</span></a>
        <a href="" class="menu2_title_sub"><span>接入间</span></a>
        <a href="" class="menu2_title_sub"><span>主机房</span></a>
        <a href="" class="menu2_title_sub"><span>消防间</span></a>
        <a href="" class="menu2_title_sub"><span>UPS室</span></a>
        <a href="" class="menu2_title_sub"><span>CA认证室</span></a>
    </p>
    <p class="height10"></p>
    <p>
        <a class="menu2_title"><span>按分类查看</span></a>
        <a href="" class="menu2_title_sub curr_sub"><span>网络设备</span></a>
        <a href="" class="menu2_title_sub "><span>安全设备</span></a>
        <a href="" class="menu2_title_sub "><span>服务器</span></a>
        <a href="" class="menu2_title_sub "><span>虚拟机</span></a>
        <a href="" class="menu2_title_sub "><span>存储设备</span></a>
    </p>
    <p class="height10"></p>
</div>