<div class="navibar">
    <div class="logo">MCenter监控管理</div>
    <div class="nav">
        <a href="/index/" class=""><span>首页</span></a>
        <a href="/device/index/" class="device "><span>监控中心</span></a>
        <a href="/alarm/index/" class="alarm "><span>告警中心</span></a>
        <a href="/procedure/service_register/" class="monitor "><span>工单管理</span></a>
        <a href="/cmdb/show_device/" class="alarm curr"><span>设备管理</span></a>
        <a href="/report/index/" class="account "><span>报表管理</span></a>
        <a href="/knowledge/index" class="filecenter "><span>知识库</span></a>
    </div>
</div>